.header {
    h1 {
        font-size: 24px;
    }
    .sign_link {
        a {
            line-height: 21px;
        }
    }
    .desktop-show {
        @include BigMobile() {
            display: none;
        }
    }
    .cart-mobile {
        display: none;
        @include BigMobile() {
            display: block;
        }
    }
}
