.ticket {
    h2 {
        @include word(20px, 30px);
    }
    .menu_list {
        li {
            padding: 14px 18px;
        }
        a {
            border-bottom: 2px solid transparent;
            &:hover {
                border-bottom: 2px solid $secondary;
            }
        }
    }
    .ticket_pic {
        height: 256px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .h-256 {
        height: 256px;
    }
    .number {
        @include word(40px, 60px);
    }
    .ticket_price {
        @include word(40px, 60px);
    }
    .ticket_select {
        a {
            &:hover {
                border-bottom: 1px solid $secondary;
            }
        }
    }
    .bg-cover {
        background-image: url(../images/max-van-den-oetelaar-IMYe9uYN27E-unsplash.jpg);
        height: 400px;
        background-size: cover;
    }
    .salon_pic {
        height: 559px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
