.img-hover {
    &:hover {
        filter: brightness(50%);
    }
}
.bg-color-gray {
    &:hover {
        background-color: $light;
    }
}
.a-bottomBorder {
    border-bottom: 2px solid transparent;
    &:hover {
        border-bottom: 2px solid $secondary;
    }
}
.link-hover {
    &:hover {
        filter: brightness(50%);
    }
}
// 手機版照片看更多
.product {
    &-cover {
        position: relative;
        @include Ipad {
            &::after {
                content: "查看更多";
                color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }
    &-swiper {
        position: relative;
        @include Ipad {
            &::after {
                content: "往右滑查看更多";
                color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }
}
