.navbar {
    &-wrapper {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        white-space: nowrap;
        overflow-x: scroll;
        -webkit-scrollbar {
            display: auto;
        }
        &:hover {
            cursor: grab;
        }
    }
    &-slide {
        padding: 14px 18px;
        a {
            border-bottom: 2px solid transparent;
            &:hover {
                border-bottom: 2px solid $secondary;
            }
            &.active {
                border-bottom: 2px solid $secondary;
            }
        }
    }
}
