@mixin word($fz, $lh) {
    font-size: $fz;
    line-height: $lh;
}
@mixin word-hidden {
    background-repeat: no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
@mixin layout {
    margin-bottom: 60px;
    @include Ipad() {
        margin-bottom: 40px;
    }
    @include X-mobile() {
        margin-bottom: 24px;
    }
    @include mobile() {
        margin-bottom: 20px;
    }
}
