.mr-18 {
    margin-right: 18px;
}
.mr-12 {
    margin-right: 12px;
}
.mb-12 {
    margin-bottom: 12px;
}
.pl-12 {
    padding-left: 12px;
}
// 背景圖片
.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.h-400 {
    height: 400px;
}
