.mr-18 {
    margin-right: 18px;
}
.mr-12 {
    margin-right: 12px;
}
.mb-12 {
    margin-bottom: 12px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-90 {
    margin-bottom: 90px;
}
.pl-12 {
    padding-left: 12px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pt-44 {
    padding-top: 44px;
}
.pt-90 {
    padding-top: 90px;
}
.pb-218 {
    padding-bottom: 218px;
}
// 各頁面特殊
.footer {
    &-subscribe {
        padding-bottom: 36px;
        a {
            padding: 12px 52px;
            @include mobile {
                padding: 12px 24px;
            }
        }
    }
}
.throwback {
    &-content {
        background-color: #190014cc;
        background-blend-mode: overlay;
        h3 {
            @include word(28px, 42px);
        }
    }
}
.position-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
// 背景
.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.bg-gray {
    background-color: #efefef;
}
// 高度
.h-256 {
    height: 256px;
}
.h-400 {
    height: 400px;
}
.h-480 {
    height: 480px;
}
.h-560 {
    height: 560px;
}
.w-711 {
    width: 711px;
    @include Ipad {
        width: 600px;
    }
    @include X-mobile {
        width: 400px;
    }
    @include mobile {
        width: 300px;
    }
}
.offcanvas-end {
    width: 540px;
}
// 字型
.title {
    @include word(36px, 54px);
    @include Ipad() {
        @include word(30px, 48px);
        margin-bottom: 1rem;
    }
    @include X-mobile() {
        margin-bottom: 0.5rem;
    }
    @include mobile() {
        @include word(28px, 42px);
    }
}
.title-xl {
    font-size: 40px;
    line-height: 60px;
}
.title-md {
    font-size: 32px;
    line-height: 48px;
}
.subtitle {
    font-size: 20px;
    line-height: 30px;
}
.subtitle-md {
    font-size: 20px;
    line-height: 30px;
    @include mobile {
        font-size: 16px;
    }
}
.small {
    font-size: 14px;
    line-height: 21px;
}
.text-cart {
    color: #373a3c;
}
